
  <!-- info section -->
  <section class="info_section ">

   <div class="container">
     <div class="contact_nav">
       <a href="">
         <i class="fa fa-phone" aria-hidden="true"></i>
         <span>
           Call : +22 222222222
         </span>
       </a>
       <a href="">
         <i class="fa fa-envelope" aria-hidden="true"></i>
         <span>
           Email : Shopify@gmail.com
         </span>
       </a>
       <a href="">
         <i class="fa fa-map-marker" aria-hidden="true"></i>
         <span>
          online shopping site
         </span>
       </a>
     </div>

     <div class="info_top ">
       <div class="row info_main_row">
         <div class=" col-md-4 col-lg-6 ">
           <div class="info_about">
             <h4>
               About Us
             </h4>
             <p>
               Shop online with great ease as you pay with your cards which guarantees you the safest online shopping payment method, allowing you to make stress free payments. Whatever it is you wish to buy, Shopify offers you all and lots more at prices which you can trust. Shopify has payment options for everyone irrespective of taste, class, and preferences. Here, you also have the option to make your payment on delivery for extra convenience. Shopping online in Nigeria is easy and convenient with Shopify. We provide you with a wide range of products you can trust. Take part in the deals of the day and discover the best prices on a wide range of products.
             </p>
           </div>
         </div>
         <div class=" col-md-4 col-lg-3 mx-auto">
           <div class="info_links">
             <h4>
               QUICK LINKS
             </h4>
             <div class="info_links_menu">
               <a class="" href="/">Home <span class="sr-only">(current)</span></a>
               <a class="" href="/upload">Products Upload</a>
             </div>
           </div>
         </div>
         <div class="col-md-3">
           <div class="info_form">
             <h4>
               SIGN UP TO OUR NEWSLETTER
             </h4>
             <form action="">
               <input type="text" placeholder="Enter Your Email" />
               <button type="submit">
                 Subscribe
               </button>
             </form>
             <div class="social_box">
               <a href="">
                 <i class="fa fa-facebook" aria-hidden="true"></i>
               </a>
               <a href="">
                 <i class="fa fa-twitter" aria-hidden="true"></i>
               </a>
               <a href="">
                 <i class="fa fa-linkedin" aria-hidden="true"></i>
               </a>
               <a href="">
                 <i class="fa fa-instagram" aria-hidden="true"></i>
               </a>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- end info_section -->

 <!-- jQery -->
 <script src="js/jquery-3.4.1.min.js"></script>
 <!-- popper js -->
 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
 </script>
 <!-- nice select -->
 <script src="js/jquery.nice-select.min.js"></script>
 <!-- bootstrap js -->
 <script src="js/bootstrap.js"></script>
 <!-- owl slider -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
 </script>
 <!-- custom js -->
 <script src="js/custom.js"></script>


</body>

</html>